.app.dark {
    --bg-color: #363434;
    --inverted-bg-color: #fafaf1;
    --primary-color: #c79f79;
    --secondary-color: #f8c498;
    --inverted-primary-color: #504a47;
    --inverted-secondary-color: #7a7573;
}